<div>
    <div class="flex gap-4 mb-6">
        <a href="/" class="btn btn-ghost text-white">Home</a>
        <a href="/generator" class="btn btn-ghost text-white bg-purple-600">
            Generator
        </a>
        <a href="/library" class="btn btn-ghost text-white">Library</a>
    </div>
</div>
